.bg-1 {
      background: url(img/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 800px;
}

.bg-2 {
       background-color: #000000; /* black */
       color: #ffffff;
       
      }

.bg-3 {
       background-color: #FFFFFF; /* blue */
       color: #ffffff;  
       padding-bottom: 100px;
      }
.bg-4 {
       background-color: #b30000; /* blue */
       color: #000000;  
       padding-bottom: 50px;
      }

.navbar {
    margin-bottom: 0;
    background-color: #000000;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
        }

.navbar li a, .navbar .navbar-brand {
    color: #b30000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FFFFFF !important;
    background-color: #b30000 !important;
}

.navbar-default .navbar-toggle {
    border-color: #000000;
    color: #fff !important;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #b30000;
    
}
.nav-pills > li > a {
  color: #000000;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1em ;
  
}
.nav-pills {
    background-color: #b30000;
    z-index: 9999;
    border: 0; 
    font-family: cursive
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(img/Developing.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  
